<section class="projects">
  <h2>Projetos</h2>
  <div class="project-card" *ngFor="let projeto of projetos">
    <div class="project-header">
      <h3>{{ projeto.nome }}</h3>
      <span class="project-status" [ngClass]="{'completed': projeto.status === 'Concluído', 'in-progress': projeto.status === 'Em andamento'}">
        {{ projeto.status }}
      </span>
    </div>
    <p>{{ projeto.descricao }}</p>
    <div class="project-details">
      <div class="technologies">
        <span>Tecnologias:</span>
        <ul>
          <li *ngFor="let tech of projeto.tecnologias">{{ tech }}</li>
        </ul>
      </div>
      <div class="project-date">
        <span>Criado em: {{ projeto.data }}</span>
      </div>
    </div>
    <a [href]="projeto.link" target="_blank" class="github-link">
      <i class="fab fa-github"></i> Ver no GitHub
    </a>
  </div>
  <div class="more-projects">
    <p>Confira mais projetos no meu GitHub:</p>
    <a href="https://github.com/LeandroBryto?tab=repositories" target="_blank" class="github-link">
      <i class="fab fa-github"></i> Ver todos os projetos
    </a>
  </div>
</section>